@charset "utf-8";

body { margin:0px; padding:0px; }
ul{ list-style:none; margin:0px; padding:0px;}
a{ text-decoration:none;}
ul{ list-style:none; margin:0px; padding:0px;}
li{ margin:0px; padding:0px; }


#bar{clear:both; position:absolute; width:100%; height:2px; background:#BCE55C; margin-top:0px; opacity:0.8;}

#l_back{ width:100%; height:30px; background:#474747; margin-top:2px; position:absolute;}
#l_back #login{width:1100px; height:20px; margin:0 auto; margin-top:5px; position:relative;}
#l_back #login .grid{ width:1050px; height:20px; margin-left:20px; position:relative; }
#l_back #login .grid .login_innerbox{width:600px; height:20px; margin:0 auto; margin-right:-120px; position:relative;}
#l_back #login .grid .login_innerbox ul{margin-top:-3px; }
#l_back #login .grid .login_innerbox li{float:left; padding:0 10px; position:relative;}
#l_back #login .grid .login_innerbox li.first{padding-left:0px;}
#l_back #login .grid .login_innerbox li.last{padding-right:0px; border:0 none;}
#l_back #login .grid .login_innerbox li a{color:#FFFFFF; font-size:12px;}
#l_back #login .grid .login_innerbox li a:hover{color:#FAED7D; font-size:12px;}



/* header 시작 */
#h_back{ width:100%; height:70px; background:rgba(4,88,230,0.45); margin-top:32px; position:absolute;}
#h_back #header{width:1100px; height:70px; margin:0 auto; position:relative;}
#h_back #header .grid{ width:1050px; height:70px; margin-left:20px; position:relative; }
#h_back #header .grid #title h1{ float:left; width:130px; height:50px; margin-top:10px; margin-left:-30px; }
#h_back #header .grid #title a{ display:block; width:100%; height:100%; background:;}

#h_back #header .grid #gnbWrap{ width:950px; height:50px; margin:0 auto; font-size:16px; font-family:bold; margin-right:-120px;}
#h_back #header .grid #gnbWrap #gnb>li{ float:left; margin:30px auto; margin-top:25px; margin-left:50px;}
#h_back #header .grid #gnbWrap #gnb>li>a{ clear:both;}
#h_back #header .grid #gnbWrap #gnb #one a{ display:block; width:110px; height:20px; list-style:none; color:#000000;}				
#h_back #header .grid #gnbWrap #gnb #two a{ display:block; width:90px; height:20px; list-style:none; color:#000000;}													
#h_back #header .grid #gnbWrap #gnb #three a{ display:block; width:90px; height:20px; list-style:none; color:#000000;}
#h_back #header .grid #gnbWrap #gnb #four a{ display:block; width:90px; height:20px; list-style:none; color:#000000;}
#h_back #header .grid #gnbWrap #gnb #five a{ display:block; width:90px; height:20px; list-style:none; color:#000000;}
#h_back #header .grid #gnbWrap #gnb #six a{ display:block; width:90px; height:20px; list-style:none; color:#000000;}
							
#h_back #header .grid #gnbWrap #gnb li .gnbMenu{ position:absolute; z-index:50; margin-left:-70px; margin-top:25px; background:rgba(204,207,212,0.7); }
#h_back #header .grid #gnbWrap #gnb #one .gnbMenu{ width:150px; height:250px; position:relative; }
#h_back #header .grid #gnbWrap #gnb #two .gnbMenu{ width:150px; height:250px; position:relative; }
#h_back #header .grid #gnbWrap #gnb #three .gnbMenu{ width:150px; height:250px; position:relative; }
#h_back #header .grid #gnbWrap #gnb #four .gnbMenu{ width:150px; height:250px; position:relative; }
#h_back #header .grid #gnbWrap #gnb #five .gnbMenu{ width:150px; height:250px; position:relative;}
#h_back #header .grid #gnbWrap #gnb #six .gnbMenu{ width:150px; height:250px; position:relative; }

#h_back #header .grid #gnbWrap #gnb .gnbMenu li a{ display:block; margin:0 auto; line-height:25px; 
													width:170px; height:200px; margin-top:10px; position:relative; font-size:13px; }
#h_back #header .grid #gnbWrap #gnb .gnbMenu li a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #aa a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #aa a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #bb a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #bb a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #cc a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #cc a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #dd a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #dd a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ee a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ee a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ff a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ff a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #gg a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #gg a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #hh a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #hh a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ii a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ii a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #jj a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #jj a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #kk a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #kk a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ll a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ll a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #mm a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #mm a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #nn a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #nn a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #oo a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #oo a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #pp a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #pp a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #qq a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #qq a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #rr a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #rr a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ss a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ss a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #tt a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #tt a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #uu a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #uu a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #vv a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #vv a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ww a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ww a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #xx a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #xx a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #yy a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #yy a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #zz a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #zz a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ab a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ab a:hover{color:#ED9595;}

#h_back #header .grid #gnbWrap #gnb .gnbMenu #ac a{width:140px; height:20px; margin-top:12px; left:3px;}
#h_back #header .grid #gnbWrap #gnb .gnbMenu #ac a:hover{color:#ED9595;}

/* container 시작 */


/* footer 시작 */






