@charset "utf-8";

body, ul, li, div{ margin:0px; padding:0px; }
ul{ list-style:none;}
body{ font-size:12px; line-height:1.8; }
a{ text-decoration:none; }

.sub{width:750px; position:absolute; border:2px solid #333;}
.sub #category{margin-left:15px; width:100px; position:relative; border:1px;}
.sub #title{margin-right:-15px; width:600px; position:relative; border:1px;}

.tabset{ width:800px; margin:20px auto; padding:5px; border:2px solid #333; border-radius:7px; }
.tabset .tabs{ border-radius:5px; padding:15px 15px 0; overflow:hidden; margin-left:110px;}
.tabset .tabs li{ float:left; margin-right:3px;}
.tabset .tabs li a { display:block; background:#BBB; color:#333; padding:5px 30px; font-weight:bold; border-radius:4px 4px 0 0;}
.tabset .tabs li a.on{ background:#368D9C}
.tabset .panels div{ padding:12px 15px 6px; align:center;}